name: Build and Deploy SWR Test

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Build and tag Docker image
        run: docker build -t extractodao .

      - name: Log in to Docker Hub (or your preferred container registry)
        run: docker login -u leandrorfrancisco -p dckr_pat_wFLMt8ki6nrzncYdJuIbTzcqb74

      - name: Push Docker image
        run: docker push extractodao

  deploy:
    needs: build

    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Docker
        uses: docker/deploy-action@v1
        with:
          name: extractodao
          username: leandrorfrancisco
          password: dckr_pat_wFLMt8ki6nrzncYdJuIbTzcqb74
          registry: docker.io
          tags: latest
