name: Build SWR Test

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Build and tag Docker image
        run: docker build -t swr.la-south-2.myhuaweicloud.com/extracto/gitaction .

      - name: Log in to Docker Hub (or your preferred container registry)
        run: docker login -u la-south-2@G3EN2FVUJC39183TR9PF -p ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker image
        run: docker push swr.la-south-2.myhuaweicloud.com/extracto/gitaction
