name: Build and Deploy SWR

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Build and tag Docker image
        run: docker build -t extractodao .

      - name: Log in to Docker Hub (or your preferred container registry)
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker image
        run: docker extractodao

  deploy:
    needs: build

    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Docker
        uses: docker/deploy-action@v1
        with:
          name: your-image-name
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.io
          tags: latest
