name: Build and Deploy SWR Test

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Build and tag Docker image
        run: docker build -t swr.la-south-2.myhuaweicloud.com/extracto/gitaction .

      - name: Log in to Docker Hub (or your preferred container registry)
        run: echo "${{ secrets.HUAWEI_USERNAME }}" | docker login -u ${{ secrets.HUAWEI_USERNAME }} --password-stdin swr.la-south-2.myhuaweicloud.com

      - name: Push Docker image
        run: docker push swr.la-south-2.myhuaweicloud.com/extracto/gitaction

  deploy:
    needs: build

    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Docker
        uses: docker/deploy-action@v1
        with:
          name: gitaction
          username: ramosleandro53@gmail.com
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.io
          tags: latest
